{% extends 'home.html' %}

{% block content %}
<h1> Welcome to weather report</h1>
	<nav>
		<ul>
			<li><a href ="{% url 'weather:list_all' %}"> List All</a></li>
			<li><a href ="{% url 'weather:forecast' %}"> Weather forecast</a></li>
			<li><a href ="{% url 'weather:add' %}"> Add city</a></li>
			<li><a href ="{% url 'weather:temp' %}"> Weather of some cities</a></li>
		</ul>
	</nav>	
		{% block weathercontent %}
		<div>			
			<p>
				Get current weather in your city.<br>			
			</p>	
			{% for key,value in data.items %}
				<p>{{key}} - {{ value }}</p>
			{% endfor %}
			<form action ="" method ="post">
				{% csrf_token %}				
				<input id ="city_name" name ="city_name" type ="text" placeholder ="Your city name" required><br>
				<input type ="submit" value ="Search">
			</form>
		</div>
		<p>
			Get current weather, clouds, pressure, wind of the locations in our database.<br>
			You also can add more locations to the database with the add button.
		</p>	
		{% endblock %}
		
	
{% endblock %}